*{
	margin: 0;
	padding: 0;
	font-family: "Arial";
}

body {
	background-image: url("../Images/background_image5.png");
	background-repeat: repeat;
	background-size: 10%;
}

h1{
	color: white;
}

h4{
	color: #C0C0C0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	display: inline-block;
	padding-right: 40px;
	vertical-align: middle;
}

hr{
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-bottom: 10px;
	margin-top: 2px;
	/*box-shadow: 0px 0px 3px #0F0F0F;*/
}

.header {
	background-color: #404040;
	padding: 8px;
}

.main_section {
	margin-left: 22%;
	margin-right: 18%;
	margin-top: 1%;
	width: 60%;
	height: 1000px;
	background-color: white;
	box-shadow: 2px 2px 4px #0F0F0F;
}

.sub_section{
	margin:10%;
}

.my_img{
	margin-top: 1%;
	float: left;
	margin-left: 9%;
	background-color: white;
	box-shadow: 2px 2px 4px #0F0F0F;
	width: 12%;
	height: 12%;
	display: inline-block
}